html, body {
  height: 100%;
  font-family: "Helvetica", "sans-serif";
  font-size: 1em; }

h1 {
  font-size: 3em; }

h3 {
  font-size: 2em; }

h5 {
  font-size: 1.25em; }

li {
  padding-top: 0.5em; }

.mainWrapper {
  color: #335;
  display: flex;
  height: 100%;
  padding: 2em 1em;
  box-sizing: border-box; }

.roomsWrapper {
  flex: 0 0 200px; }
  .roomsWrapper .rooms {
    width: 100%;
    height: 100%;
    border-right: 1px solid #999; }

#chatPlaceholder {
  flex: 1 0 325px;
  padding: 0em 3em; }

.chatWrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .chatWrapper .spaceBlock {
    flex: 0 0 8px; }
  .chatWrapper .chatHeader {
    flex: 0 0 50px;
    border-bottom: 1px solid #999; }
  .chatWrapper .chatContent {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 0.8em; }
    .chatWrapper .chatContent .messageWrapper {
      margin-bottom: 1em;
      word-break: break-all; }
      .chatWrapper .chatContent .messageWrapper span {
        font-weight: bold; }
      .chatWrapper .chatContent .messageWrapper a {
        display: block;
        position: relative; }
      .chatWrapper .chatContent .messageWrapper .ogImage {
        height: 100px;
        border-radius: 5px 65px 5px 65px;
        opacity: 0.6; }
      .chatWrapper .chatContent .messageWrapper .ogTitle {
        display: block;
        position: absolute;
        top: 0px;
        padding: 2px;
        color: #335;
        text-shadow: 0px 0px 3px white; }
  .chatWrapper .chatInput {
    flex: 0 0 50px;
    padding-bottom: 0.2em;
    background-color: #eeeecc;
    overflow: hidden;
    border-radius: 10px;
    position: relative; }
    .chatWrapper .chatInput .scrollWrapper {
      position: absolute;
      width: 20px;
      height: 100%;
      right: 0px;
      top: 0px;
      background-color: #bbbb99;
      padding: 3px 0px;
      box-sizing: border-box; }
      .chatWrapper .chatInput .scrollWrapper #trackPad {
        position: relative;
        transform: translateY(0px);
        background-color: white;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        margin-left: 4px; }
    .chatWrapper .chatInput textarea {
      position: relative;
      width: 100%;
      height: 100%;
      border: 1px solid #aaa;
      border-top: none;
      border-left: none;
      top: -1px;
      left: -1px;
      opacity: 0.8;
      resize: none;
      box-sizing: border-box;
      padding: 5px 20px 0px 5px; }
